* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: $off-black;
    font-family: $quicksand;
    overflow-x: hidden;
}

.valid {
    color: $green;
}

.valid-text {
    color: $green;
}

.warning {
    color: $orange !important;
}

.invalid-text {
    color: $error-text !important;
}

.toast-invalid {
    background-color: $error-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-valid {
    background-color: $success-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

/* label color */
.input-field label {
    color: $gray !important;
}

/* label focus color */
.input-field input[type=text]:focus + label, input[type=email]:focus + label, input[type=password]:focus + label, input[type=number]:focus + label, select:focus + label {
    color: $blue !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus, .input-field input[type=number]:focus, select:focus {
    border-bottom: 1px solid $blue !important;
    box-shadow: 0 1px 0 0 $blue !important;
}

/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=password].valid, .input-field input[type=number].valid, select.valid {
    border-bottom: 1px solid $success-text !important;
    box-shadow: 0 1px 0 0 0 $success-text !important;
}

/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=password].invalid, .input-field input[type=number].invalid, select.invalid {
    border-bottom: 1px solid $error-text !important;
    box-shadow: 0 1px 0 0 $error-text !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: $blue !important;
}

.input-field .prefix {
    color: darken($gray, 30%) !important;
}

.input-field .form-input.valid::before {
    color: darken($gray, 30%) !important;
}

.loader {
    position: absolute;
    top: 45vh;
    left: 45vw;

}

button.disable {
    cursor: not-allowed !important;
    background-color: #ccc !important;
    box-shadow: none !important;
    opacity: 0.9 !important;
}

.spinner-icon {
    border: 1px solid red;
    width: 10px;
    height: 10px;
}

.disable {
    pointer-events: none !important;
}

.spinner-container {
    background-color: rgba(0, 0, 0, .4);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999 !important;
    overflow: hidden;

    p {
        color: $off-white;
    }

    .show {
        display: flex !important;
    }
}