#quiz {
    margin-top: 0;
}

.question {
    background-color: #f8f8f8;
    border-left: 5px solid $blue;
    width: 80%;
    margin: $lg auto 0 auto;
    padding: $sm $md;

    .lifeline-container {
        display: flex;
        justify-content: space-between;
    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-icon {
        color: $green;
        cursor: pointer;
    }

    .lifeline-icon-empty {
        color: $red;
    }

    .lifeline-icon:active {
        background: none;
        color: darken($orange, 10%);
    }

    h5 {
        font-size: 1.2rem;
        margin-bottom: $lg;
        line-height: 1.5;
        text-align: center;
    }

    .option-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        background-color: $blue;
        border-radius: $button-radius;
        color: $off-white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: $off-black;
    }

    .option:active {
        background-color: darken($blue, 20%);
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}

.buttonContainer button {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding: $xs $sm;
}

.buttonContainer button:first-child {
    background: darken($blue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}
.buttonContainer button:first-child:hover {
    background: darken($blue, 20%);
}

.buttonContainer button:nth-child(2) {
    background: $green;
    box-shadow: $shadow;

    transition: 0.2s linear all;
}
.buttonContainer button:nth-child(2):hover {
    background: darken($green, 10%);
}

.buttonContainer button:last-child {
    background: $red;
    box-shadow: $shadow;

    transition: 0.2s linear all;
}
.buttonContainer button:last-child:hover {
    background: darken($red, 10%);
    box-shadow: 0px 0px 5px $gray;
}

@media (max-width: $md-breakpoint) {
    .question {
        width: 100%;
        padding-left: $normal;
        padding-right: $normal;
    }

    .option-container {
        display: block !important;
        width: 100% !important;
    }

    .option {
        width: 100% !important;
    }

    .option:hover {
        background-color: $blue !important;
    }

    .option:active {
        background-color: $off-black !important;
    }

    .buttonContainer {
        padding-left: $xs;
        padding-right: $xs;
        margin: 0;
    }

    .buttonContainer button {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
}
