.signup-container {
    background-image: url('../../img/cube.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 160%;
    position: absolute;
    top: 0;
    z-index: -1;

    .form-container {
        background: transparent;
        width: 100%;
        height: 100%;
    }

    .input-container{
        margin-top: 10rem;
    }

    form {
        background-color: #fff;
        padding-left: $lg;
        padding-right: $lg;
        padding-bottom: lg;
        float: right;
        width: 40%;
        height: 100%;
    }

    form input {
        font-family: $quicksand !important;
    }

    form h3 {
        background: linear-gradient(to right, $blue, darken($blue, 30%));
        color: $off-white;
        margin-top: 0;
        text-align: center;
        padding-top: $md;
        padding-bottom: $md;
        position: absolute;
        right: 0;
        width: 40%;
    }

    form .signupButton {
        background-color: $red;
        border: none;
        border-radius: $button-radius;
        box-shadow: $shadow;
        color: #fff;
        cursor: pointer;
        padding: $normal $xlg;
        text-align: center;
        transition: 0.3s linear all;
        width: 100%;
    }

    form .signupButton:hover {
        background-color: darken($red, 10%);
        box-shadow: none;
    }

    form .signupButton:focus {
        outline: none;
    }
}

@media (max-width: $md-breakpoint) {
    .signup-container  {
        height: 100%;
    }

    .signup-container form {
        width: 100%;
        padding-left: $xs;
        padding-right: $xs;
    }

    .signup-container form h3 {
        width: 100%;
    }

    .signup-container form .row .col {
        width: 100%;
    }

    .signup-container form p {
        margin-bottom: $sm;
        text-align:center;
    }
}